body {
  font-family: Arial, sans-serif;
  font-size: 40pt;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg,  rgba(245, 48, 97, 0.5) 0%, rgb(245,48,51, 0.5) 100%);
}

.container {
  /* background-color: #fff; */
  /* padding: 20px; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

select {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#message {
  font-size: 1.2em;
  color: #333;
}

.logo {
  width: 300px;
}